<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.womoe.mapper.WorkerMapper">
  <resultMap id="BaseResultMap" type="top.womoe.model.Worker">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wks_number" jdbcType="VARCHAR" property="wksNumber" />
    <result column="wks_name" jdbcType="VARCHAR" property="wksName" />
    <result column="wks_birthdate" jdbcType="DATE" property="wksBirthdate" />
    <result column="wks_edu" jdbcType="INTEGER" property="wksEdu" />
    <result column="wks_hometown" jdbcType="VARCHAR" property="wksHometown" />
    <result column="wks_address" jdbcType="VARCHAR" property="wksAddress" />
    <result column="wks_telephone" jdbcType="VARCHAR" property="wksTelephone" />
    <result column="wks_seniority" jdbcType="INTEGER" property="wksSeniority" />
    <result column="wks_basesalary" jdbcType="REAL" property="wksBasesalary" />
    <result column="wks_sex" jdbcType="VARCHAR" property="wksSex" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, wks_number, wks_name, wks_birthdate, wks_edu, wks_hometown, wks_address, wks_telephone, 
    wks_seniority, wks_basesalary, wks_sex
  </sql>
  <select id="selectByExample" parameterType="top.womoe.model.WorkerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sw_workers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sw_workers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sw_workers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.womoe.model.WorkerExample">
    delete from sw_workers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.womoe.model.Worker">
    insert into sw_workers (id, wks_number, wks_name, 
      wks_birthdate, wks_edu, wks_hometown, 
      wks_address, wks_telephone, wks_seniority, 
      wks_basesalary, wks_sex)
    values (#{id,jdbcType=INTEGER}, #{wksNumber,jdbcType=VARCHAR}, #{wksName,jdbcType=VARCHAR}, 
      #{wksBirthdate,jdbcType=DATE}, #{wksEdu,jdbcType=INTEGER}, #{wksHometown,jdbcType=VARCHAR}, 
      #{wksAddress,jdbcType=VARCHAR}, #{wksTelephone,jdbcType=VARCHAR}, #{wksSeniority,jdbcType=INTEGER}, 
      #{wksBasesalary,jdbcType=REAL}, #{wksSex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.womoe.model.Worker">
    insert into sw_workers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wksNumber != null">
        wks_number,
      </if>
      <if test="wksName != null">
        wks_name,
      </if>
      <if test="wksBirthdate != null">
        wks_birthdate,
      </if>
      <if test="wksEdu != null">
        wks_edu,
      </if>
      <if test="wksHometown != null">
        wks_hometown,
      </if>
      <if test="wksAddress != null">
        wks_address,
      </if>
      <if test="wksTelephone != null">
        wks_telephone,
      </if>
      <if test="wksSeniority != null">
        wks_seniority,
      </if>
      <if test="wksBasesalary != null">
        wks_basesalary,
      </if>
      <if test="wksSex != null">
        wks_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wksNumber != null">
        #{wksNumber,jdbcType=VARCHAR},
      </if>
      <if test="wksName != null">
        #{wksName,jdbcType=VARCHAR},
      </if>
      <if test="wksBirthdate != null">
        #{wksBirthdate,jdbcType=DATE},
      </if>
      <if test="wksEdu != null">
        #{wksEdu,jdbcType=INTEGER},
      </if>
      <if test="wksHometown != null">
        #{wksHometown,jdbcType=VARCHAR},
      </if>
      <if test="wksAddress != null">
        #{wksAddress,jdbcType=VARCHAR},
      </if>
      <if test="wksTelephone != null">
        #{wksTelephone,jdbcType=VARCHAR},
      </if>
      <if test="wksSeniority != null">
        #{wksSeniority,jdbcType=INTEGER},
      </if>
      <if test="wksBasesalary != null">
        #{wksBasesalary,jdbcType=REAL},
      </if>
      <if test="wksSex != null">
        #{wksSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.womoe.model.WorkerExample" resultType="java.lang.Long">
    select count(*) from sw_workers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sw_workers
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.wksNumber != null">
        wks_number = #{record.wksNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.wksName != null">
        wks_name = #{record.wksName,jdbcType=VARCHAR},
      </if>
      <if test="record.wksBirthdate != null">
        wks_birthdate = #{record.wksBirthdate,jdbcType=DATE},
      </if>
      <if test="record.wksEdu != null">
        wks_edu = #{record.wksEdu,jdbcType=INTEGER},
      </if>
      <if test="record.wksHometown != null">
        wks_hometown = #{record.wksHometown,jdbcType=VARCHAR},
      </if>
      <if test="record.wksAddress != null">
        wks_address = #{record.wksAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.wksTelephone != null">
        wks_telephone = #{record.wksTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.wksSeniority != null">
        wks_seniority = #{record.wksSeniority,jdbcType=INTEGER},
      </if>
      <if test="record.wksBasesalary != null">
        wks_basesalary = #{record.wksBasesalary,jdbcType=REAL},
      </if>
      <if test="record.wksSex != null">
        wks_sex = #{record.wksSex,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sw_workers
    set id = #{record.id,jdbcType=INTEGER},
      wks_number = #{record.wksNumber,jdbcType=VARCHAR},
      wks_name = #{record.wksName,jdbcType=VARCHAR},
      wks_birthdate = #{record.wksBirthdate,jdbcType=DATE},
      wks_edu = #{record.wksEdu,jdbcType=INTEGER},
      wks_hometown = #{record.wksHometown,jdbcType=VARCHAR},
      wks_address = #{record.wksAddress,jdbcType=VARCHAR},
      wks_telephone = #{record.wksTelephone,jdbcType=VARCHAR},
      wks_seniority = #{record.wksSeniority,jdbcType=INTEGER},
      wks_basesalary = #{record.wksBasesalary,jdbcType=REAL},
      wks_sex = #{record.wksSex,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.womoe.model.Worker">
    update sw_workers
    <set>
      <if test="wksNumber != null">
        wks_number = #{wksNumber,jdbcType=VARCHAR},
      </if>
      <if test="wksName != null">
        wks_name = #{wksName,jdbcType=VARCHAR},
      </if>
      <if test="wksBirthdate != null">
        wks_birthdate = #{wksBirthdate,jdbcType=DATE},
      </if>
      <if test="wksEdu != null">
        wks_edu = #{wksEdu,jdbcType=INTEGER},
      </if>
      <if test="wksHometown != null">
        wks_hometown = #{wksHometown,jdbcType=VARCHAR},
      </if>
      <if test="wksAddress != null">
        wks_address = #{wksAddress,jdbcType=VARCHAR},
      </if>
      <if test="wksTelephone != null">
        wks_telephone = #{wksTelephone,jdbcType=VARCHAR},
      </if>
      <if test="wksSeniority != null">
        wks_seniority = #{wksSeniority,jdbcType=INTEGER},
      </if>
      <if test="wksBasesalary != null">
        wks_basesalary = #{wksBasesalary,jdbcType=REAL},
      </if>
      <if test="wksSex != null">
        wks_sex = #{wksSex,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.womoe.model.Worker">
    update sw_workers
    set wks_number = #{wksNumber,jdbcType=VARCHAR},
      wks_name = #{wksName,jdbcType=VARCHAR},
      wks_birthdate = #{wksBirthdate,jdbcType=DATE},
      wks_edu = #{wksEdu,jdbcType=INTEGER},
      wks_hometown = #{wksHometown,jdbcType=VARCHAR},
      wks_address = #{wksAddress,jdbcType=VARCHAR},
      wks_telephone = #{wksTelephone,jdbcType=VARCHAR},
      wks_seniority = #{wksSeniority,jdbcType=INTEGER},
      wks_basesalary = #{wksBasesalary,jdbcType=REAL},
      wks_sex = #{wksSex,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>